@page
@model DWF.Pages.Aanvragen

@{
    Layout = "Shared/_Triage";
}

<!DOCTYPE html>

<html>
<head>
    <link href="@Url.Content("~/css/TriagePagina's.css")" type="text/css" rel="stylesheet">
    <title></title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="kop">Aanvragen</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>

        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item active">Student aanvragen</li>
                @if (Model.aanvragenStudent.Count != 0)
                {
                    @foreach (var aanvraag in Model.aanvragenStudent)
                    {
                        <form method="post">
                            <input asp-for="AanvraagStudentId" value="@aanvraag.aanvraag_id" type="hidden">

                            <li class="list-group-item d-flex justify-content-between flex-column">
                                <p>Student: @aanvraag.student_naam</p>
                                <p>Opdracht: @aanvraag.opdracht_naam</p>
                                <button asp-page-handler="Bekijkaanvraag" class="btn btn-secondary">Bekijk</button>
                            </li>
                        </form>
                    }
                }
                else
                {
                    <li class="list-group-item d-flex justify-content-between flex-column">
                        <p>Alle aanvragen van studenten zijn behandeld</p>
                    </li>
                }
            </ul>
        </div>

        <div class="col-2"></div>

        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item active">Opdracht aanvragen</li>
                @if (Model.opdrachten.Count != 0)
                {
                    @foreach (var opdracht in Model.opdrachten)
                    {
                        <form method="post">

                            <input asp-for="opdrachtId" value="@opdracht.opdracht_id" type="hidden">

                            <li class="list-group-item d-flex justify-content-between flex-column">
                                <p>Titel: @opdracht.opdracht_naam</p>
                                <p>Indiener: @Model.GetNaam(opdracht.gebruiker_id)</p>
                                <button asp-page-handler="Bekijkopdracht" class="btn btn-secondary">Bekijk</button>
                            </li>
                        </form>
                    }
                }
                else
                {
                    <li class="list-group-item d-flex justify-content-between flex-column">
                        <p>Alle aanvragen van opdrachten zijn behandeld</p>
                    </li>
                }
            </ul>
        </div>

        <div class="col-1"></div>
    </div>
</div>
</body>
</html>