@page
@model DWF.Pages.login
@{
}
<div class="row justify-content-center">
    <form class="col-sm-4 border rounded needs-validation" method="post" novalidate>
        <h1 class="text-center">Login</h1>
        <div class="form-group">
            <label for="validationCustom01" class="form-label">E-mailadres</label>
            <input type="email" asp-for="@Model.Email"
                   class="form-control @(@Model.Msg != null ? "border-danger" : "")"
                   id="validationCustom01"
                   required />  
            <span asp-validation-for="Email" class="text-danger"></span>        
        </div>       
        <div class="text-danger">@Model.Msg</div>
        <div class="form-group">
            <label for="validationCustom02" class="form-label">Password</label>
            <input type="password" asp-for="@Model.Password"
                   class="form-control @(@Model.Msg != null ? "border-danger" : "")"
                   id="validationCustom02"
                   required />
            <span asp-validation-for="Password" class="text-danger"></span>          
        </div>
        <div class="col-12 form-group text-center">
            <div style="padding-top: 20px">
                <button class="btn btn-primary" type="submit">Login</button>
            </div>
            <div style="padding: 20px 0px">
                <button class="wachtwoord vergeten btn btn-primary">Wachtwoord vergeten? </button>
            </div>
            <asp:Login ID="Login" runat="localhost" DestinationPageUrl="~/login/homepaginastudents.cshtml">
            </asp:Login>
        </div>
    </form>
</div>