@page
@model DWF.Pages.StatestiekenPagina

@{
    Layout = "Shared/_Triage";
}

<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" href="css/Triage.css">
    <title></title>
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <h1 class="kop">Statestieken</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-1"></div>

        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item active">Student aanvragen</li>
                @foreach (var aanvraag in Model.aanvragenStudent)
                {
                    <form method="post">
                        <input asp-for="AanvraagStudent" value="@aanvraag" type="hidden">

                        <li class="list-group-item d-flex justify-content-between flex-column">
                            <p>Student: @aanvraag.student_naam</p>
                            <p>Opdracht: @aanvraag.opdracht_naam</p>
                            <button asp-page-handler="Bekijkaanvraag" class="btn btn-secondary">Bekijk</button>
                        </li>
                    </form>
                }
            </ul>
        </div>

        <div class="col-2"></div>

        <div class="col-4">
            <ul class="list-group">
                <li class="list-group-item active">Opdracht aanvragen</li>
                @foreach (var opdracht in Model.opdrachten)
                {
                    <form method="post">
                        
                        <input asp-for="opdracht" value="@opdracht" type="hidden">

                        <li class="list-group-item d-flex justify-content-between flex-column">
                            <p>Titel: @opdracht.opdracht_naam</p>
                            <p>Indiener: @Model.GetNaam(opdracht.gebruiker_id)</p>
                            <button asp-page-handler="Bekijkopdracht" class="btn btn-secondary">Bekijk</button>
                        </li>
                    </form>
                }
            </ul>
        </div>

        <div class="col-1"></div>
    </div>
</div>
</body>
</html>