@page
@model DWF.Pages.StudentAanvraagControle

@{
    Layout = "Shared/_Triage";
}

<!DOCTYPE html>

<html>
<head>
    <title></title>
    <link href="@Url.Content("~/css/TriagePagina's.css")" type="text/css" rel="stylesheet">
</head>
<body>
<a href="/Aanvragen" class="btn btn-secondary" id="fixedbutton">Terug</a>
<div class="container-fluid">
    <div class="row">
        <div class="col-4"></div>
        <div class="col-4">
            <div class="row ruimteboven">
                <ul class="list-group flex-fill">
                    <li class="list-group-item list-group-item-secondary">Aanvraag voor</li>
                    <li class="list-group-item">@Model.AanvragenStudent.opdracht_naam</li>
                </ul>
            </div>
            <div class="row ruimteboven">
                <ul class="list-group flex-fill">
                    <li class="list-group-item list-group-item-secondary">Student beschrijving</li>
                    <li class="list-group-item">@Model.AanvragenStudent.beschrijving</li>
                </ul>
            </div>
            <div class="row d-flex flex-nowrap ruimteboven">
                <form method="post">
                    <div class="justify-content-around d-flex">
                        <button asp-page-handler="Ja" type="submit" class="btn btn-secondary">Goedkeuren</button>
                        <button asp-page-handler="Nee" type="submit" class="btn btn-secondary w-25">Afkeuren</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-1"></div>
        <div class="col-3 doos">
            <h2>Contact gegevens</h2>
            <h5>Student: @Model.student.naam</h5>
            <h5>Email: @Model.student.email</h5>
            <h5>Opleiding: @Model.student.opleiding</h5>
        </div>
    </div>
</div>
</body>
</html>